{# This file is part of Living Labs Challenge, see http://living-labs.net.
 #
 # Living Labs Challenge is free software: you can redistribute it and/or modify
 # it under the terms of the GNU Lesser General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # Living Labs Challenge is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU Lesser General Public License for more details.
 #
 # You should have received a copy of the GNU Lesser General Public License
 # along with Living Labs Challenge. If not, see <http://www.gnu.org/licenses/>.
 #}
   {% extends "base.html" %}
   {% block header %}
    	Profile for {{ user.teamname }}
   {% endblock %}
   {% block content %}
    <table class="table table-striped table-hover ">
    <tbody>
    <tr>
      <td>Teamname</td>
      <td>{{ user.teamname }}</td>
  	</tr>
    <tr>
      <td>Email</td>
      <td>{{ user.email|urlize }}</td>
  	</tr>
    <tr>
      <td>API key</td>
      <td>{{ user._id }}</td>
  	</tr>
    <tr>
      <td>Creation</td>
      <td>{{ user.creation_time }}</td>
  	</tr>
  	{% if user.is_site %}
    <tr>
      <td>Type</td>
      <td>Site</td>
  	</tr>
    <tr>
      <td>Type</td>
      <td>Site</td>
  	</tr>
    {% elif user.is_participant %}
    <tr>
      <td>Type</td>
      <td>Participant</td>
  	</tr>
  	{% endif %}
  	</tbody>
	</table> 
   {% endblock %}