{# This file is part of Living Labs Challenge, see http://living-labs.net.
 #
 # Living Labs Challenge is free software: you can redistribute it and/or modify
 # it under the terms of the GNU Lesser General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # Living Labs Challenge is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU Lesser General Public License for more details.
 #
 # You should have received a copy of the GNU Lesser General Public License
 # along with Living Labs Challenge. If not, see <http://www.gnu.org/licenses/>.
 #}
<html>
  <head>
    <title>{% block title %}Living Labs Dashboard{% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/main.css" />
    {% endblock %}
    {% block script %}
    <script src="/static/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    {% endblock %}
  </head>
  <body>
  	<div id="navbar" class="navbar navbar-default navbar-fixed-top">
	    <div class="container">
	      <div class="navbar-header">
	        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="#">
	          Living Labs Challenge</a>
	        <span class="navbar-text navbar-version pull-left"><b></b></span>
	      </div>
			<div class="collapse navbar-collapse nav-collapse">
			  <ul class="nav navbar-nav">
			    <li class="divider-vertical"></li>
			        <li><a href="http://living-labs.net/challenge/">Website</a></li>
			        <li><a href="/">Dashboard</a></li>
			        <li><a href="http://doc.living-labs.net/">Documentation</a></li>
			</div>
	    </div>
	</div>
<div class="container">
<div class="row">
<div class="col-md-9 dmbs-main">
	      <div class="navbar-header">
	        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="/">
	          Dashboard</a>
	        <span class="navbar-text navbar-version pull-left"><b></b></span>
	      </div>
	<ul class="nav nav-tabs">
	  <li {% if request.path == "/" %}class="active"{% endif %}><a href="/">Home</a></li>
	  <li {% if request.path.startswith("/participant") %}class="active"{% endif %}><a href="/participant">Participants</a></li>
	  <li {% if request.path.startswith("/site") %}class="active"{% endif %}><a href="/site">Sites</a></li>
	  {% if user %}
	  <li class="dropdown {% if request.path.startswith("/user") %}active{% endif %}">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	    <span class="glyphicon glyphicon-user"></span> {{ user.teamname }}<span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu">
	      <li><a href="/user/me">Profile</a></li>
	      <li class="divider"></li>
	      <li><a href="/user/logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
	    </ul>
	  </li>
	  {% else %}
	  <li {% if request.path.startswith("/user/login") %}class="active"{% endif %}>  
	  <a href="{{ url_for('user.login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
	  </li>
	  <li {% if request.path.startswith("/user/register") %}class="active"{% endif %}>
	  <a href="{{ url_for('user.register') }}"><span class="glyphicon glyphicon-user"></span> Register</a>
	  </li>
	  {% endif %}
	</ul>
	<div class="page-header">
    	<h1>{% block header %}Home{% endblock %}</h1>
    </div>
    <div id="messages-wrap">
      <div id="messages">
        {% for category, msg in get_flashed_messages(with_categories=true) %}
          <p class="alert {{ category }}">{{ msg }}</p>
        {% endfor %}
      </div>
    </div>
    <div id="content">
    {% block content %}    
    Welcome to the dashboard of the Living Labs Challenge.   
    {% endblock %}
    </div>
 </div>
 </div>
 </div>
 <footer class="footer">
  <div class="container">
    <p class="text-muted">
        &copy; Copyright 2014, Living Labs.<br/>
    </p>
  </div>
</footer>
  </body>
</html>