{# This file is part of Living Labs Challenge, see http://living-labs.net.
 #
 # Living Labs Challenge is free software: you can redistribute it and/or modify
 # it under the terms of the GNU Lesser General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # Living Labs Challenge is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU Lesser General Public License for more details.
 #
 # You should have received a copy of the GNU Lesser General Public License
 # along with Living Labs Challenge. If not, see <http://www.gnu.org/licenses/>.
 #}
   {% extends "base.html" %}
   {% block header %}
    	Participant {{ participant.teamname }}
   {% endblock %}
   {% block content %}
    <table class="table table-striped table-hover ">
    <tbody>
    <tr>
      <td>Teamname</td>
      <td>{{ participant.teamname }}</td>
      <td></td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{ participant.email|urlize }}</td>
      <td></td>
    </tr>
	  <tr>
		  <td>#runs</td>      
	      <td>{{ stats.run }}</td>
	      <td><a href="/participant/{{ participant.email}}/run"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></td>
      </tr>
  	</tbody>
	</table> 
   {% endblock %}