{# This file is part of Living Labs Challenge, see http://living-labs.net.
 #
 # Living Labs Challenge is free software: you can redistribute it and/or modify
 # it under the terms of the GNU Lesser General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # Living Labs Challenge is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU Lesser General Public License for more details.
 #
 # You should have received a copy of the GNU Lesser General Public License
 # along with Living Labs Challenge. If not, see <http://www.gnu.org/licenses/>.
 #}
   {% extends "base.html" %}
   {% block header %}
    	Document details for {{ doc._id }}
   {% endblock %}
   {% block content %}
    <table class="table table-striped table-hover ">
    <tbody>
    <tr>
      <td>Docid</td>
      <td>{{ doc._id }}</td>
    </tr>
    <tr>
      <td>Site_docid</td>
      <td>{{ doc.site_docid }}</td>
    </tr>
    <tr>
      <td>Title</td>
      <td>{{ doc.title }}</td>
    </tr>
    <tr>
      <td>Creation time</td>
      <td>{{ doc.creation_time }}</td>
    </tr>
    <tr>
      <td>#queries this document appears in a doclist for</td>
      <td>{{ stats.queries|length }} ({% for q in stats.queries %} <a href="/site/{{ site._id }}/query/{{ q._id}}">{{ q._id}}</a>, {% endfor %})</td>
    </tr
    <tr>
      <td>Content</td>
	  <td>{{ doc.content }}</td>
  	</tr>
  	</tbody>
	</table> 
   {% endblock %}