{# This file is part of Living Labs Challenge, see http://living-labs.net.
 #
 # Living Labs Challenge is free software: you can redistribute it and/or modify
 # it under the terms of the GNU Lesser General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # Living Labs Challenge is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU Lesser General Public License for more details.
 #
 # You should have received a copy of the GNU Lesser General Public License
 # along with Living Labs Challenge. If not, see <http://www.gnu.org/licenses/>.
 #}
   {% extends "base.html" %}
   {% block header %}
    	Site {{ site.name }}
   {% endblock %}
   {% block content %}
    <table class="table table-striped table-hover ">
    
    <tbody>
      <tr>
	      <td>Short name</td>
	      <td>{{ site._id }}</td>
	      <td></td>
      </tr>
      <tr>
	      <td>Name</td>
	      <td>{{ site.name }}</td>
	      <td></td>
      </tr>
	  <tr>
		  <td>Url</td>      
	      <td>{{ site.url|urlize }}</td>
	      <td></td>
      </tr>
	  <tr>
		  <td>#queries</td>      
	      <td>{{ stats.query }}</td>
	      <td><a href="/site/{{ site._id}}/query"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></td>
      </tr>
	  <tr>
		  <td>#docs</td>      
	      <td>{{ stats.doc }} {% if stats.query > 0 %}({{ (stats.doc/stats.query)|round(2) }} documents per query){% endif %}</td>
	      <td><a href="/site/{{ site._id}}/doc"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></td>
      </tr>
	  <tr>
		  <td>#impressions</td>      
	      <td>{{ stats.impression }} {% if stats.query > 0 %}({{ (stats.impression/stats.query)|round(2) }} impressions per query){% endif %}</td>
	      <td></td>
      </tr>
	  <tr>
		  <td>#clicks</td>      
	      <td>{{ stats.click }} {% if stats.impression > 0 %}({{ (stats.click/stats.impression)|round(2) }} clicks per impression){% endif %}</td>
	      <td></td>
      </tr>
  	</tr>
  	</tbody>
	</table> 
   {% endblock %}